src/config/secret
.env
API_DESIGN_PLAN.md
RULE.md
node_modules
docs
diagram
DEPLOYMENT.md
RENDER_DEPLOY.md
RENDER_FIX_SUMMARY.md
DEPLOYMENT.md
RENDER_SSL_FIX.md
SWAGGER_CORS_FIX.md
EXTRA_TASK_CANDIDATE.md
EXTRA_TASK_EMPLOYER.md
SPECIAL_FUNC.md

CreateCV.md
CreateCVEndpoint.md
ExtendDB.md
nginx